@media screen and (max-width: 576px) {
  .info_list-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .info__movies-box {
    grid-template-columns: repeat(1, 1fr);
  }
  nav > ul > li {
    display: none;
  }
  ul > .hamburger {
    display: block;
  }
  .section__goal-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .info__movies {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__flex {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
