@media screen and (max-width: 768px) {
  .info_list-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .info__movies-box {
    grid-template-columns: repeat(1, 1fr);
  }
  nav > ul > li {
    display: none;
  }
  ul > .hamburger {
    display: block;
  }
}
