header {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
}
header > nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  align-items: center;
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav > ul > li {
  padding: 20px 30px;
  background-color: white;
}
nav > ul > li:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}
nav > .logo {
  font-weight: 700;
  font-size: 25px;
}
main > .main {
  height: 100vh;
  background-color: black;
}
div > h1 {
  font-size: 120px;
  color: white;
}
.main > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  padding-left: 400px;
  gap: 30px;
}
.main > div > p {
  color: #8888;
}
.main > div > a {
  width: 400px;
  height: 30px;
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main > div > a > span {
  font-size: 12px;
}
