section {
}
.first {
  height: 100vh;
  background-image: url(city.avif);
  background-size: cover;
  background-position: 50% 60%;
}
.contents {
  /* 넓이 높이 부모 따라감 */
  height: 100%;
  width: 100%;

  /* 가운데 컨테이닝 */
  max-width: 1200px;
  margin: 0 auto;

  /* 자식들 중앙화 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.first > .contents > h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 1.25;
  font-family: "OngleebDaisy";
}
.second > .contents > h3 {
  font-family: "OngleebDaisy";
  font-size: 32px;
  font-weight: 500;
  color: #777777;
  line-height: 1.5;
  text-align: center;
}
.second > .contents {
  padding: 100px 0;
}
.second > .contents > h3 > .spacial {
  color: black;
}
