.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/넷플\ 배경_large.jpg");
  background-position: 20% 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__background-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.9) 100%
  );
  pointer-events: none;
}
.hero__background-text {
  width: 100%;
  max-width: 1300px;
  height: 45%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 35%;
  justify-content: center;
}
.hero__background-text > h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  line-height: 80px;
  margin-bottom: 16px;
}
.hero__background-text > p {
  color: white;
  text-align: center;
  margin-bottom: 32px;
  font-size: 20px;
}
.hero__background-text > h3 {
  color: white;
  font-size: 16px;
  text-align: center;
}
.input__email-box {
  max-width: 1300px;
  width: 75%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 5px;
  padding-top: 16px;
  margin: 0 auto;
}
.input__email-box > button {
  width: 17%;
  height: 40%;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  font-weight: 600;
}
.input__email {
  width: 50%;
  height: 40%;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
}
.background__line {
  width: 100%;
  height: 7%;
  background-color: red;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  position: relative;
  z-index: 1;
  top: 43%;

  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}
.background__inline {
  width: 100%;
  height: 10%;
  background-color: red;
  border-top-left-radius: 50% 25%;
  border-top-right-radius: 50% 25%;
  position: absolute;
  z-index: 1;
  top: 90%;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
}
.membership {
  position: absolute;
  top: 50%;
  left: 17%;
  width: 100%;
  max-width: 1300px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 100px;
}
.membership > img {
  width: 10%;
  height: 100%;
  object-fit: contain;
}
.membership__textbox {
  width: 80%;
  height: 80%;
  background-image: linear-gradient(
    to right,
    #30233d,
    #2c223e,
    #27213f,
    #212040,
    #1a1f41
  );
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  /* border: 1px solid red; */
}
.membership__textbox > .membership__btn {
  background-color: #383b60;
  color: white;
  border: none;
  border-radius: 10px;
  width: 20%;
  height: 50%;
}
.membership__textbox-textflex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@media screen and (max-width: 576px) {
  .hero__background-text {
    max-width: 340px;
    top: 15%;
  }
  .hero__background-text > h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .hero__background-text > p {
    font-size: 17px;
    line-height: 25px;
  }
  .hero__background-text > h3 {
    font-size: 15px;
    line-height: 25px;
  }
  .input__email-box {
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .input__email {
    width: 100%;
    height: 30%;
  }
  .input__email-box > button {
    width: 38%;
    height: 30%;
  }
  .input__email-box > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .input__email-box > button > span {
    font-size: 17px;
  }
  /* .background__line {
    width: 100%;
    height: 10%;
    object-fit: cover;
    position: absolute;
    bottom: 100px;
    left: 0px;
    z-index: 1;
  } */
  .background__line {
    width: 100%;
    height: 7%;
    background-color: red;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    position: relative;
    z-index: 1;
    top: 18%;

    background: linear-gradient(
      to right,
      rgba(33, 13, 22, 1) 1%,
      rgba(184, 40, 105, 1),
      rgba(229, 9, 20, 1),
      rgba(184, 40, 105, 1),
      rgba(33, 13, 22, 1) 100%
    );
  }
  .background__inline {
    width: 100%;
    height: 10%;
    background-color: red;
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
    position: absolute;
    z-index: 1;
    top: 65.1%;
    background: radial-gradient(
        50% 500% at 50% -420%,
        rgba(64, 97, 231, 0.4) 80%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      black;
  }
  .membership {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
    max-width: 1300px;
    height: 200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
  }
  .membership__textbox {
    width: 80%;
    height: 70%;
    background-image: linear-gradient(
      to right,
      #30233d,
      #2c223e,
      #27213f,
      #212040,
      #1a1f41
    );
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    /* border: 1px solid red; */
    padding: 0 10px;
  }
  .membership__textbox > .membership__btn {
    background-color: #383b60;
    color: white;
    border: none;
    border-radius: 10px;
    width: 40%;
    height: 25%;
  }

  .membership__textbox-fontsize {
    font-size: 16px;
    line-height: 30px;
  }
  .membership > img {
    width: 70px;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 160px;
    left: 0px;
  }
}
