.photo {
  width: 200px;
  height: 300px;
  object-fit: cover;
  position: relative;
  /* border: 1px solid yellow; */
}
.photo > img {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
}
.icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* border: 1px solid red; */
}
