.box {
  width: 800px;
  height: 800px;
  border: 1px solid red;
}
.minibox {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  position: relative;
  z-index: 1;
}
.minibox1 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  bottom: 50px;
  z-index: 2;
}
.minibox2 {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: relative;
  bottom: 100px;
  z-index: 3;
}
